{% extends "blog/base.html" %}

{% block content %}
  <h2>Actualizar Perfil</h2>
  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <h3>Datos del Usuario</h3>
    
    <div>
      <label for="{{ user_form.first_name.id_for_label }}">Nombre:</label>
      {{ user_form.first_name }}
    </div>
    
    <div>
      <label for="{{ user_form.last_name.id_for_label }}">Apellido:</label>
      {{ user_form.last_name }}
    </div>
    
    <div>
      <label for="{{ user_form.username.id_for_label }}">Usuario:</label>
      {{ user_form.username }}
    </div>
    
    <div>
      <label for="{{ user_form.email.id_for_label }}">Email:</label>
      {{ user_form.email }}
    </div>

    <h3>Perfil</h3>
    
    {{ profile_form.as_p }}
    
    <button type="submit">Actualizar</button>
  </form>
{% endblock %}
