{% extends "base.html" %}

{% block content %}
    <h2>Mensajes</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    <strong>De:</strong> {{ message.sender.username }}<br>
                    <strong>Mensaje:</strong> {{ message.content }}<br>
                    <strong>Fecha:</strong> {{ message.timestamp }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes mensajes.</p>
    {% endif %}
{% endblock %}
