{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Posts</title>
</head>
<body>

    <h1>Publicaciones</h1>

    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>Post ID: {{ post.pk }}</p> <!-- Se agregó para depuración -->
            <p>Por <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></p>
            <p>{{ post.content|truncatewords:50 }}</p>

            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Imagen del post">
            {% endif %}

            <p><a href="{{ post.get_absolute_url }}">Leer más</a></p>

        </div>
    {% endfor %}

</body>
</html>
